input:focus {
    outline:none !important;
    
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset !important;}
  
  .checkin{
      display: flex;
      height: 470px;
      padding: 10px 0 0 20px !important;
  
    }
  
      
  .checkins-inner h1 {
      color: #151515;
      display: flex;
      align-self: flex-start;
      margin-bottom: 10px !important;
  }
  
  .checkins-group input {
      width: 90%;
      font-family: inherit;
      border: 0;
      border-bottom: 2px solid var(--bg-color-secondary);
      outline: 0;
      font-size: 14px;
      padding:7px !important;
      color: #151515;
      background: transparent;
      transition: all 0.3s ease-in-out;
    
  }
  
  
  .checkins-group input:focus{
    border-bottom: 2px solid var(--login-borderbtm);
    width: 280px;
    transition: all 0.3s ease-in-out;
  }
  
  
  
  .checkins-group label{
    font-size: 14px;
    cursor: text;
    color: #151515;
  }
  
  .checkins-group {
    color: var(--bg-color-secondary);
    width: 300px;
    padding-bottom: 20px !important;
  }
  
  
  .checkin p {
      color: var(--text-secondary);
  }
  
  .checkins-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px 0 40px !important;
      border-radius: 10px;
      box-shadow: 0 0.4px 0.4px rgba(221, 221, 221, 0.213), 0 1px 1px rgba(177, 177, 177, 0.155), 0 2.1px 2.1px rgba(187, 187, 187, 0.195), 0 4.4px 4.4px rgba(206, 206, 206, 0.241), 0 12px 12px rgba(218, 218, 218, 0.35);
    }
  
  
    .form-inner h3 {
      margin: 0 0 10px 0 !important;
    }
    .form-inner .form-group {
      margin: 5px 0 !important;
  
    }
    .login-form .btn {
      width: 100%;
      margin: 18spx 0 9px 0 !important;
    }

    .checkin-btn {
        margin-top: 20px !important;
        padding: 5px 60px 5px 60px !important;
        border: solid 2px var(--bg-color-secondary);
        background-color: transparent;
        font-size: 14px;
        font-weight: bold;
        color: var(--bg-color-secondary);
        border-radius: 6px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .checkin-btn:hover{
        background-color: var(--bg-color-secondary);
        color: var(--text-color);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }