* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    z-index: 9999;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(16px + .4vw);
    background: url(../../assets/head.svg) no-repeat center top;
    background-size: cover;
    transition: all .4s;
}

.bodyContainer {
    background: url(../../assets/opt.svg) no-repeat center top;
    background-size: cover;
    height: 100vh;
    filter: drop-shadow(.5px 3px 3.8px rgba(0, 0, 0, 1));
}

.bodyText {
    margin: 12% 20%;
    color: rgba(255, 255, 255, 0.932);
    text-align: center;
}

.paraContainer {
    padding: 1.5%;
}

.paraText {
    font-size: calc(20px + .5vw);
    font-weight: 500;
    margin-top: 15px;
    pointer-events: none;
}

.section-head {
    font-size: calc(20px + 2vw);
    font-weight: 700;
    letter-spacing: -0.02em;
    position: relative;
    line-height: .7em;
    pointer-events: none;
    margin-top: 10px;
}

.section-head-2 {
    font-size: calc(10px + 2vw);
    font-weight: 700;
    letter-spacing: -0.02em;
    position: relative;
    pointer-events: none;
    line-height: .5em;
    pointer-events: none;
    margin-right: 1.2rem;
    margin-top: 6rem;
}