
.btn {
    margin-top: 20px !important;
    padding: 5px 60px 5px 60px !important;
    border: solid 2px var(--text-color);
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--text-color);
    color: var(--bg-color-secondary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}